# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  config_file:
    type: string
    default: ""
    description: >
      Alertmanager configuration file (yaml), with the exclusion of the templates section.
      Refer to https://www.prometheus.io/docs/alerting/latest/configuration/ for full details.
  templates_file:
    type: string
    default: ""
    description: >
      Alertmanager templates definition file. This is a slight deviation from the official
      alertmanager config spec. All templates need to go into this single config option, instead of
      the 'templates' section of the main configuration file. The templates will be pushed to the
      workload container, and the configuration file will be updated accordingly.
      Refer to https://prometheus.io/docs/alerting/latest/notification_examples/ for more details
      on templates.
  web_external_url:
    type: string
    default: ""
    description: |
      The URL under which Alertmanager is externally reachable (for example, if
      Alertmanager is served via a manually configured ingress).

      This config option is used for the `--web.external-url` alertmanager cli
      argument. If this charm config option is provided, it takes precedence over the
      URL provided over the "ingress" relation.

      Note: this config option shouldn't be included when you're using the "ingress"
      relation (e.g. traefik) - the charm will automatically assign an external url
      to `--web.external-url` when related to an ingress provider.

      This should be a complete URI, including scheme, or a  fully qualified subpath
      starting with `/`.
      If Alertmanager is being served directly from the root of a fully-qualified
      host or a bare A record, this may be omitted.
      If the URL has a path portion, Alertmanager will use it to prefix all HTTP
      endpoints.
