# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

# Operator Framework
# Code: https://github.com/canonical/operator/
# Changes: https://github.com/canonical/operator/releases
# Docs: https://juju.is/docs/sdk/dev-setup
#       https://ops.rtfd.io/
git+https://github.com/canonical/operator/#egg=ops

# Code: https://github.com/yaml/pyyaml
# Changes: https://github.com/yaml/pyyaml/blob/master/CHANGES
# Docs: https://pyyaml.org/wiki/PyYAMLDocumentation
PyYAML

# Lightweight k8s module
# Code: https://github.com/gtsystem/lightkube
# Changes: https://github.com/gtsystem/lightkube/releases
# Docs: https://lightkube.readthedocs.io/
lightkube
lightkube-models
